{%load static%}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Team</title>

    <link rel="stylesheet" href="{%static 'home/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'home/css/navbar.css'%}">
    <link rel="stylesheet" href="{%static 'home/css/footer.css'%}">
    <link rel="stylesheet" href="{%static 'home/css/about_team.css'%}" type="text/css">

</head>

<body>
    {%include 'home/navbar.html'%}
    <div class="header">
        <h1>About Team</h1>
        <p>Know About Us more</p>
    </div>
    <br>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="media/images/amol.jpg" alt="Amol">
                <div class="container">
                    <h2>Amol Jandial</h2>
                    <p class="title">UI Designer</p>
                    <p><b>The Gamer Man of our Website.</b></p>
                    <p>example@example.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="media/images/anmol.jpg" alt="Anmol">
                <div class="container">
                    <h2>Anmol Reshi</h2>
                    <p class="title">UI Designer Head</p>
                    <p><b>The Architech Man of website.</b></p>
                    <p>anmolreshi@gmail.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="media/images/aniket.jpg" alt="Aniket Banyal">
                <div class="container">
                    <h2>Aniket Banyal</h2>
                    <p class="title">Backend Developer</p>
                    <p><b>The Backbone Man of our Website. </b></p>
                    <p>dummyani26@gmil.com.com</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="media/images/aniketkumar.jpg" alt="Aniket Kumar">
                <div class="container">
                    <h2>Aniket Kumar</h2>
                    <p class="title">UI & Content Team</p>
                    <p><b>Quick Learner man of Website.</b></p>
                    <p>dileepsinhaa@gmail.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="media/images/andrew.jpg" alt="Andrew">
                <div class="container">
                    <h2>Andrew Awet</h2>
                    <p class="title">UI Designer</p>
                    <p><b>Idea giving Man of website</b></p>
                    <p>awetthon8@gmail.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="media/images/ankush.jpg" alt="Ankush">
                <div class="container">
                    <h2>Ankush</h2>
                    <p class="title">Content Head</p>
                    <p><b> The Content Man of website.</b></p>
                    <p>ankush0252@gmail.com</p>

                </div>
            </div>
        </div>
    </div>

    {%include 'home/footer.html'%}


</body>

</html>