{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>India Tracker</title>

    <link rel="stylesheet" href="{%static 'home/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'home/css/india_tracker.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'home/css/gradients.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'home/css/navbar.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'home/css/footer.css'%}" type="text/css">
</head>

<body>
    {%include 'home/navbar.html'%}

    <div class="heading">
        <h1>India Tracker</h1>
    </div>

    <div class="container">
        <div class="row myCardRow">
            <div class="col-4">
                <div class="card text-dark bg-blue text-center">
                    <div class="card-body">
                        <h3 class='card-title'>{{Active}}</h3>
                        <h5 class="card-text"> Active cases</h5>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-dark bg-green text-center">
                    <div class="card-body">
                        <h3 class='card-title'>{{Recovered}}</h3>
                        <h5 class="card-text"> Recovered</h5>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-dark bg-red text-center">
                    <div class="card-body">
                        <h3 class='card-title'>{{Deaths}}</h3>
                        <h5 class="card-text"> Deaths</h5>
                    </div>
                </div>
            </div>

        </div>

        <div class="row myCardRow">
            <div class="col-4">
                <div class="card text-dark bg-orange text-center">
                    <div class="card-body">
                        <h3 class='card-title'>{{Confirmed}}</h3>
                        <h5 class="card-text">Total Confirmed</h5>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-dark bg-purple text-center">
                    <div class="card-body">
                        <h3 class='card-title'>{{recover_percent}}%</h3>
                        <h5 class="card-text">Recovered</h5>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-dark bg-lemon text-center">
                    <div class="card-body">
                        <h3 class='card-title'>{{death_percent}}%</h3>
                        <h5 class="card-text">Deaths</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class='worldStats'>
        <a href="{% url 'world_tracker'%}">
            <button><h3>Click to see worldwide statistics</h3></button>
        </a>
    </div>

    <div class="row pie_charts">
        <div class="col-6">
            <canvas id="confirmed_pie">
            <p>Confirmed cases pie chart</p>
        </canvas>
        </div>

        <div class="col-6">
            <canvas id="deaths_pie">
            <p>Death cases pie chart</p>
        </canvas>
        </div>
    </div>

    {%include 'home/footer.html'%}

    <script src="{%static 'home/js/Chart.min.js'%}"></script>
    <script src="{%static 'home/js/india_tracker.js'%}"></script>


</body>

</html>