{%extends 'home/base.html'%} {%block content%}
<div class='text-center'>
    <h1> Live Tracker</h1>
</div>

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class='card-title'>Active</h5>
                    <p class="card-text"> {{Active}}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class='card-title'>Recovered</h5>
                    <p class="card-text"> {{Recovered}}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class='card-title'>Deaths</h5>
                    <p class="card-text"> {{Deaths}}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class='card-title'>Total Confirmed</h5>
                    <p class="card-text"> {{Confirmed}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='text-center'>
    <img src="../media/figures/heat_map.jpg" alt="heat map of cases per state" /> {%endblock content%}
</div>