{%extends 'home/base.html'%} {%block content%}
<div class='text-center'>
    <h1> Live Tracker</h1>
</div>

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-3">
            <div class="card bg-blue text-center">
                <div class="card-body">
                    <h3 class='card-title'>{{Active}}</h3>
                    <p class="card-text"> Active cases</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card bg-green text-center">
                <div class="card-body">
                    <h3 class='card-title'>{{Recovered}}</h3>
                    <p class="card-text"> Recovered</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card bg-red text-center">
                <div class="card-body">
                    <h3 class='card-title'>{{Deaths}}</h3>
                    <p class="card-text"> Deaths</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card bg-orange text-center">
                <div class="card-body">
                    <h3 class='card-title'>{{Confirmed}}</h3>
                    <p class="card-text">Total Confirmed</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='text-center'>
    <img src="../media/figures/heat_map.jpg" alt="heat map of cases per state" />
</div>

<!-- <script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        console.log("Geolocation is not supported by this browser.");
    }

    function showPosition(position) {

        console.log("Latitude: " + position.coords.latitude + "Longitude: " + position.coords.longitude);
    }
</script> -->

{%endblock content%}