<header>
    <div class='logo__Hamburger'>

        <a href="{%url 'homepage'%}" id="logo"><img class="logo-img" src="media/images/logo.jpg" alt="Logo"></a>

        <div class="menu-toggle">
            <svg viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="15"></rect>
            <rect y="30" width="100" height="15"></rect>
            <rect y="60" width="100" height="15"></rect>
          </svg>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="{%url 'homepage'%}">Home</a></li>
            <li><a href="about-covid.html">About Covid</a></li>
            <li><a href="games.html">Games</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="{%url 'about_team'%}">About Us</a></li>
        </ul>
    </nav>
</header>


<script>
    document.querySelector('.menu-toggle').addEventListener('click',
        () => {
            document.querySelector('nav').classList.toggle('active')
        })
</script>