{%extends 'home/base.html'%} {%load static%} {%block content%}

<div class="container">
    <form id="search_tab_form" method="get" action="{%url 'search'%}">
        <div class="form-row">

            <div class="col-11">
                <input class="form-control form-control-lg rounded-border" type="text" name="q" id="search_tab_transcript" placeholder="Search" spellcheck="false" />
            </div>

            <div class="col-1 my-auto popup">
                <img style="cursor: pointer;" onclick="search_tab_startDictation()" src="../media/icons/google_mic2.png" />
                <span class="popuptext" id="listening_popup">Listening...</span>
            </div>
        </div>

    </form>
</div>
<script src="{% static 'home/search_tab.js' %} "></script>

{%endblock content%}