{%load static%}
<html>

<head>
    <title>Search</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{%static 'home/search_tab.css'%}">
</head>

<body>

    <div class="text-center">
        <img src="/media/pics/search_heading.png" />
    </div>

    <div class="container">

        <form id="search_tab_form" action="{%url 'search'%}" method="get" autocomplete="off">
            <div class="finder">

                <div class="finder__outer">
                    <div class="finder__inner">

                        <div class="finder__icon" ref="icon"></div>
                        <input class="finder__input" type="text" name="q" id="search_tab_transcript" placeholder="Enter an Indian state" spellcheck="false" />

                    </div>

                    <div class="my-auto popup">
                        {%include 'home/google_mic.html'%}
                        <span class="popuptext" id="listening_popup">Listening...</span>
                    </div>

                </div>

                <div class="suggestions"> </div>

            </div>
        </form>
    </div>


</body>


<script src="{% static 'home/search_tab.js' %} "></script>

</html>