{%extends 'home/base.html'%} {%block content%}

<div class="text-center">
    <h1>{{State}}</h1>
    <p id='text_to_speak' hidden> {{text_to_speak}} </p>
    <img id='play_btn' src="../media/icons/play_btn.png" width="30" height="30" class="text-center" />
</div>
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class='card-title'>Active</h5>
                    <p class="card-text" id='Active'> {{Active}}</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class='card-title'>Recovered</h5>
                    <p class="card-text" id='Recovered'> {{Recovered}}</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class='card-title'>Deaths</h5>
                    <p class="card-text" id='Deaths'> {{Deaths}}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class='card-title'>Total Confirmed</h5>
                    <p class="card-text" id='Confirmed'> {{Confirmed}}</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class='card-title'>Percent Recovered</h5>
                    <p class="card-text" id='Confirmed'> {{recover_percent}}</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class='card-title'>Percent Death</h5>
                    <p class="card-text" id='Confirmed'> {{death_percent}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // var t1 = document.getElementById('Active').textContent;
    // var t2 = document.getElementById('Recovered').textContent;
    // var t3 = document.getElementById('Deaths').textContent;
    // var t4 = document.getElementById('Confirmed').textContent;

    // var txtInput = t1 + ' Active cases,' + t2 + ' Recovered,' + t3 + ' Deaths,' + ' and' + t4 + ' Total Confirmed';
    if ('speechSynthesis' in window) {
        var txtInput = document.getElementById('text_to_speak').textContent;

        var tts = window.speechSynthesis;
        var toSpeak = new SpeechSynthesisUtterance(txtInput);

        toSpeak.pitch = 2;
        toSpeak.rate = 1.7;

        // console.log(parseInt(t1.textContent));

        // console.log("here", tts.getVoices());

        var play_btn = document.querySelector('#play_btn');
        play_btn.addEventListener('click', () => {
            tts.speak(toSpeak);
        });
    } else {
        console.log('speechSynthesis not available');
        play_btn.style.display = 'none';
    }
</script>


{%endblock content%}