{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>World Tracker</title>

    <link rel="stylesheet" href="{%static 'home/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{%static 'home/css/world_tracker.css'%}">
    <link rel="stylesheet" href="{%static 'home/css/navbar.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'home/css/footer.css'%}" type="text/css">

</head>

<body>
    {%include 'home/navbar.html'%}

    <div class="myContainer">
        <div class="tab-slider--nav">
            <ul class="tab-slider--tabs">
                <li class="tab-slider--trigger active" rel="tab1">Map</li>
                <li class="tab-slider--trigger" rel="tab2">Chart</li>
            </ul>
        </div>

        <div id="tab1" class="tab-slider--body">
            <div class="heading">
                <h2>World Stats</h2>
            </div>
            {%include 'home/world_map.html'%}
        </div>

        <div id="tab2" class="tab-slider--body">
            <div class="heading">
                <h2>Covid Chart</h2>
            </div>

            <div class="radios">
                <form>
                    <label>
                        <input id="Confirmed" type="radio" name="radio" checked />
                        <span>Confirmed</span>
                    </label>
                    <label>
                        <input id="Deaths" type="radio" name="radio" />
                        <span>Deaths</span>
                    </label>
                </form>
            </div>

            <div id="chartDiv">
                <canvas id="chartCanvas">
                    <p>covid chart</p>
                </canvas>
            </div>

        </div>

    </div>

    {%include 'home/footer.html'%}

    <script src="{%static 'home/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'home/js/popper.min.js'%}"></script>
    <script src="{%static 'home/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'home/js/Chart.min.js'%}"></script>
    <script src="{%static 'home/js/world_tracker.js'%}"></script>

</body>

</html>