body {
    background-color: #EEEEEE;
    font-family: sans-serif, Arial;
}

h1 {
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 40px;
}

#myContainer {
    width: 600px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
}

.button {
    color: #039be5;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #039be5;
    padding: .5em;
    border-radius: 5px;
    transition: all .3s ease-in;
}

.button:hover {
    background-color: #039be5;
    color: #EEEEEE;
}

.line {
    fill: none;
    stroke: #000000;
    stroke-width: 6;
    stroke-dasharray: 50;
}

.anim {
    -webkit-animation: swirls 4s linear infinite;
    -moz-animation: swirls 4s linear infinite;
    -o-animation: swirls 4s linear infinite;
    animation: swirls 4s linear infinite;
}

@keyframes swirls {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 100;
    }
}