body {
    font-family: sans-serif;
    background-color: #0e1531;
}

.heading {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.heading h1 {
    display: inline;
    padding: 6px 20px;
    border: 7px solid #fff;
}

.myArticles {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myArticles a {
    text-decoration: none;
    color: black;
}

.myArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    padding: 1rem;
    transition: 0.3s;
    border-radius: 4px;
    background: rgba(235, 235, 235, 1);
    background: -moz-linear-gradient(top, rgba(235, 235, 235, 1) 0%, rgba(216, 225, 231, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 235, 235, 1)), color-stop(100%, rgba(216, 225, 231, 1)));
    background: -webkit-linear-gradient(top, rgba(235, 235, 235, 1) 0%, rgba(216, 225, 231, 1) 100%);
    background: -o-linear-gradient(top, rgba(235, 235, 235, 1) 0%, rgba(216, 225, 231, 1) 100%);
    background: -ms-linear-gradient(top, rgba(235, 235, 235, 1) 0%, rgba(216, 225, 231, 1) 100%);
    background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(216, 225, 231, 1) 100%);
}

.myArticle:hover {
    box-shadow: 0 8px 15px rgb(255, 255, 255);
}

.myArticle h2 {
    margin: 0;
}

.myArticle p {
    margin-right: 2rem;
    line-height: 200%;
}

.myArticle-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.myArticle-body img {
    width: 500px;
    height: 300px;
    object-fit: contain;
}

@media (max-width: 1024px) {
    .myArticle-body {
        flex-direction: column;
    }
    .myArticle-body img {
        width: 100%;
        height: auto;
    }
}