body,
html {
    background-color: #0e1531;
}

.heading {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
}

.btnDiv {
    margin-top: 30px;
    margin-bottom: 45px;
    text-align: center;
}

#play_btn {
    cursor: pointer;
}

.row {
    margin-top: 60px;
}

.card {
    transition: all 0.4s;
}

.card:hover {
    transform: translateY(-4px);
}