body,
html {
    background-color: #0e1531;
}

.heading {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.my_shadow {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .07), 0 15px 35px 0 rgba(50, 50, 93, .1);
}

.card {
    transition: 0.4s all;
}

.card:hover {
    transform: translateY(-4px);
}


/* #0e1531 -> backgournd of website */