body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.66667;
}

h2 {
    font-size: 30px;
    color: #345F90;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    margin: 15px auto;
}


/* Radio Button  */

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    margin-left: 50px;
}

.radios {
    width: 30%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

label input {
    position: absolute;
    left: -9999px;
}


/* dot inside radio button  */

label input:checked+span:before {
    box-shadow: inset 0 0 0 0.4375em #844685;
}

label span {
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}


/* actual radio buttons  */

label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #844685;
}


/* World map  */

path {
    fill: white;
    stroke: #25b7c4;
}

path:hover {
    fill: orange;
}


/* Toggle Tabs */

.tab-slider--nav {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    height: 35px;
    user-select: none;
}

.tab-slider--tabs:after {
    content: "";
    width: 50%;
    background: #345F90;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    border-radius: 35px;
}

.tab-slider--tabs.slide:after {
    left: 50%;
}

.tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: #345F90;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    user-select: none;
}

.tab-slider--trigger.active {
    color: #fff;
}

.tab-slider--body {
    margin-bottom: 20px;
}